* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  background: #77a1d3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e684ae,
    #79cbca,
    #77a1d3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e684ae,
    #79cbca,
    #77a1d3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
  color: #2e2a2a;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 10px;
}

.txtb {
  width: 100%;
  border: none;
  border-bottom: 2px solid #252424;
  background: none;
  padding: 10px;
  outline: none;
  font-size: 18px;
}

h3 {
  margin: 10px 0;
}

.task {
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  padding: 18px;
  margin: 6px 0;
  overflow: hidden;
}

.task i {
  float: right;
  margin-left: 20px;
  cursor: pointer;
}

.comp .task {
  background: rgba(5, 5, 5, 0.5);
  color: #fff;
}